<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="icon" type="image/png" href="/app/images/favicon.ico" />
    <link rel="stylesheet" href="/app/styles/index.css" />
</head>
<body>
    <script src="/app/vendor/"></script>
    <script src="/app/vendor/galleriajs/scripts/galleria.min.js"></script>
    <script src="/app/scripts/index.js"></script>
</body>
</html>