<html>
  <head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/app/images/favicon.ico" />

    <link rel="stylesheet" href="/app/vendor/bootstrap/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/app/vendor/font-awesome/styles/all.min.css" />
    <link rel="stylesheet" href="/app/vendor/nanogallery2/styles/nanogallery2.min.css" />

    <link rel="stylesheet" href="/app/styles/index.css">
  </head>
  <body>
    <!-- <button id="btn_select_mode">switch selection mode on/off</button>
    <button id="btn_del">delete selection</button> -->
    
    <div class="container-fluid">
      <headear id="menu" class="row bg-light">
        <div class="col d-flex justify-content-start">
          <div class="btn-go-to-previous-page btn btn-light" title="Voltar para a página anterior">
            <span class="fa-stack"><i class="fa fa-arrow-left fa-stack-2x"></i></span>
          </div>
          <div class="btn-refresh-page btn btn-light" title="Recarregar página">
            <span class="fa-stack"><i class="fa fa-redo-alt fa-stack-2x"></i></span>
          </div>
        </div>
        <div class="col h1 d-flex justify-content-center">Galeria</div>
        <div class="col d-flex justify-content-end">
          <div class="btn-download-album btn btn-light" title="Baixar álbum">
            <span class="fa-stack"><i class="fa fa-download fa-stack-2x"></i></span>
          </div>
          <div class="btn-unselect-all-media btn btn-light" title="Desselecionar todas as itens">
            <span class="fa-stack"><i class="fa fa-square fa-stack-2x" style="margin: -3px -3px;"></i><i class="fa fa-square fa-stack-2x" style="margin: 6px 6px;"></i></span>
          </div>
          <div class="btn-select-all-media btn btn-light" title="Selecionar todas as itens">
            <span class="fa-stack"><i class="fa fa-square fa-stack-2x" style="margin: -3px -3px;"></i><i class="fa fa-square fa-stack-2x fa-inverse" style="margin: 6px 6px;"></i><i class="fa fa-check-square fa-stack-2x" style="margin: 6px 6px"></i></span>
          </div>
        </div>
      </headear>

      <headear id="selection_menu" class="row bg-light d-none">
        <div class="col d-flex justify-content-start">
          <div class="btn-cancel btn btn-light" title="Cancelar seleção">
            <span class="fa-stack"><i class="fa fa-times fa-stack-2x pt-1"></i></span>
          </div>
          <div class="item h5 pt-3" title="Recarregar página"><span id="nb_selected"></span></div>
        </div>
        <div class="col h1 d-flex justify-content-center">Galeria</div>
        <div class="col d-flex justify-content-end">
          <div class="btn-delete-selected-media btn btn-light" title="Apagar itens selecionados">
            <span class="fa-stack"><i class="fa fa-trash-alt fa-stack-2x"></i></span>
          </div>
          <div class="btn-download-selected-media btn btn-light" title="Baixar itens selecionados">
            <span class="fa-stack"><i class="fa fa-download fa-stack-2x"></i></span>
          </div>
          <div class="btn-unselect-all-media btn btn-light" title="Desselecionar todas as itens">
            <span class="fa-stack"><i class="fa fa-square fa-stack-2x" style="margin: -3px -3px;"></i><i class="fa fa-square fa-stack-2x" style="margin: 6px 6px;"></i></span>
          </div>
          <div class="btn-select-all-media btn btn-light" title="Selecionar todas as itens">
            <span class="fa-stack"><i class="fa fa-square fa-stack-2x" style="margin: -3px -3px;"></i><i class="fa fa-square fa-stack-2x fa-inverse" style="margin: 6px 6px;"></i><i class="fa fa-check-square fa-stack-2x" style="margin: 6px 6px"></i></span>
          </div>
        </div>
      </headear>

      <div class="row">
        <div class="col">
            <div id="nanogallery2"></div>
        </div>
    </div>
    </div>

    
    <!-- Selected items:<br>
    - counter: <span id="nb_selected">0</span><br>
    - items: <span id="selection"></span><br> -->

    <script src="/app/vendor/scripts/jquery-3.4.1.min.js"></script>
    <script src="/app/vendor/nanogallery2/scripts/jquery.nanogallery2.core.min.js"></script>

    <script src="/app/scripts/Nanogallery2FunctionsClass.js"></script>
    <script src="/app/scripts/index.js"></script>
  </body>
</html>