<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="icon" type="image/png" href="/app/images/favicon.ico" />
    <link rel="stylesheet" href="/app/styles/index.css" />
</head>
<body>
    <div class="galleria">
        <img src="/app/images/picture_2.jpeg" data-title="title 2" data-description="My description 2">
        <img src="/app/images/picture_3.jpeg" data-title="title 3" data-description="My <em>HTML</em> description 3">
        <img src="/app/images/picture_4.jpeg" data-title="title 4" data-description="My <em>HTML</em> description 4">
        <img src="/app/images/picture_5.jpeg" data-title="title 5" data-description="My <em>HTML</em> description 5 ">
        <img src="/app/images/picture_6.jpeg" data-title="title 6" data-description="My <em>HTML</em> description 6">
        <img src="/app/images/picture_7.jpeg" data-title="title 7" data-description="My <em>HTML</em> description 7">
        <img src="/app/images/picture_8.jpeg" data-title="title 8" data-description="My <em>HTML</em> description 8">
        <img src="/app/images/picture_9.jpeg" data-title="title 9" data-description="My <em>HTML</em> description 9">
        <img src="/app/images/picture_10.jpeg" data-title="title 10" data-description="My <em>HTML</em> description">
        <img src="/app/images/picture_11.jpeg" data-title="title 11" data-description="My <em>HTML</em> description">
        <img src="/app/images/picture_12.jpeg" data-title="title 12" data-description="My <em>HTML</em> description">
        <img src="/app/images/picture_13.jpeg" data-title="title 13" data-description="My <em>HTML</em> description">
        <img src="/app/images/picture_14.jpeg" data-title="title 14" data-description="My <em>HTML</em> description">
        <img src="/app/images/picture_15.jpeg" data-title="title 15" data-description="My <em>HTML</em> description">
    </div>

    <!-- <div class="galleria">
        <a href="/app/images/picture_2.jpeg"><img src="/app/images/picture_3.jpeg" data-big="/app/images/picture_6.jpeg" data-title="My title" data-description="My description"></a>
        <a href="/app/images/picture_4.jpeg"><img src="/app/images/picture_5.jpeg" data-big="/app/images/picture_7.jpeg" data-title="Another title" data-description="My <em>HTML</em> description"></a>
    </div> -->

    <!-- <div class="galleria">
        <a href="https://www.youtube.com/watch?v=btPJPFnesV4&list=PLQIe1hs3PHlI2mxjseehXFAjUQu72wAvV&index=2&ab_channel=SurvivorVEVO"><img src="/app/images/picture_2.jpeg"></a>
        <a href="http://vimeo.com/12309423"><span class="video">Watch this on Vimeo!</span></a>
    </div> -->

    <script src="/app/vendor/jquery/scripts/jquery.min.js"></script>
    <!-- <script src="/app/scripts/index.js"></script> -->
    
</body>
</html>